ngx-spinner(bdColor = "rgba(0, 0, 0, 0.8)", size = "medium", color = "#fff", type = "ball-spin", [fullScreen] = "true")
    p(style="color: white") Loading...
    
sb-layout-dashboard
    sb-dashboard-head(title='Picture', [hideBreadcrumbs]='false')
    
    sb-card
        .card-header
            | {{ title }}

        .card-body

            div.col(*ngIf="!isDetail")
                button.btn.btn-primary.float-right((click)='add()') 
                    fa-icon([icon]='["fas", "plus"]') 
                    |  Add Data 

            sb-picture-list(*ngIf='!isDetail', [pageSize]='8', (onEditEvent)="edit($event)", (onDeleteEvent)="openModal(content, $event)", (onPreviewEvent)="view($event)")

            form([formGroup]="pictureForm", (ngSubmit)="save()")
                div.container(*ngIf='isDetail')
                    .row.mb-3
                        .col
                            button.btn.btn-outline-dark.float-right(style='margin:4px', (click)='back()') 
                                |  Back
                            button.btn.btn-primary.float-right(*ngIf="!isReadonly", style='margin:4px', type='submit', [disabled]="!pictureForm?.valid") 
                                fa-icon([icon]='["fas", "save"]') 
                                |  Save
                    .row
                        input(#fileUpload, type="file", class="file-input", hidden, (change)="onFileSelected($event)")
                        .col.mb-3.d-flex.justify-content-center
                            img.img-fluid.img-thumbnail(src="{{ imageSrc }}", onerror="this.src='assets/img/no_image.jpg'", alt="")
                    .row.mb-3.d-flex.justify-content-center(*ngIf="!isReadonly")
                        button.btn.btn-primary(type="button", (click)="fileUpload.click()") {{ imageSrc ? 'Change Image' : 'Add Image' }}
                    .row.mb-3(*ngIf="!isReadonly")
                        .col
                            label(for='name') Name 
                            input.form-control(type='text', id='name', placeholder='Enter Name', formControlName='name')
                            small(*ngIf="pictureForm?.get('name')?.errors && pictureForm?.get('name')?.touched", style="color:red") Value is required.
                    .row.mb-5(*ngIf="!isReadonly")
                        .col
                            label(for='description') Description 
                            input.form-control(type='text', id='description', placeholder='Enter Description', formControlName='description') 
                            small(*ngIf="pictureForm?.get('description')?.errors && pictureForm?.get('description')?.touched", style="color:red") Value is required.

    ng-template(#content, let-c="close", let-d="dismiss")
        div.modal-header
            h4.modal-title Confirmation
            button.close(type="button", aria-label="Close", (click)="d('Cross click')")
                span(aria-hidden="true") &times;
        div.modal-body
            | Are you sure want to delete this record?
    
        div.modal-footer
            button.btn.btn-primary(type="button", (click)="c(true)") Yes
            button.btn.btn-outline-dark(type="button", (click)="c(false)") No