ngx-spinner(bdColor = "rgba(0, 0, 0, 0.8)", size = "medium", color = "#fff", type = "ball-spin", [fullScreen] = "true")
    p(style="color: white") Loading...

sb-layout-dashboard
    sb-dashboard-head(title='Menu Content', [hideBreadcrumbs]='false')
    
    sb-card
        .card-header
            | {{ title }}
        .card-body
            
            div.col(*ngIf="!isDetail")
                button.btn.btn-primary.float-right((click)='add()') 
                    fa-icon([icon]='["fas", "plus"]') 
                    |  Add Data

            sb-menu-list(*ngIf="!isDetail", [pageSize]='8', (onEditEvent)="edit($event)", (onDeleteEvent)="openModal(content, $event)", (onPreviewEvent)="view($event)")

            form([formGroup]="menuForm", (ngSubmit)="save()")
                div.container(*ngIf='isDetail')
                    .row.mb-3
                        .col
                            button.btn.btn-outline-dark.float-right(style='margin:4px', (click)='back()') 
                                |  Back
                            button.btn.btn-primary.float-right(*ngIf="!isReadonly", style='margin:4px', type='submit', [disabled]="!menuForm?.valid") 
                                fa-icon([icon]='["fas", "save"]') 
                                |  Save
            
                    .row
                        .col.mb-3.d-flex.justify-content-center
                            img.img-fluid.img-thumbnail(src="{{ imageSrc }}", onerror="this.src='assets/img/no_image.jpg'", alt="")

                    .row.mb-3
                        .col
                            label(for='deviceId') Device 
                            select.form-control(id='deviceId', formControlName='deviceId')
                                option(value="") -- Select Device --
                                option(*ngFor="let device of device_list", value="{{ device.id }}") {{ device.code}} - {{ device.name }}
                            small(*ngIf="menuForm?.get('deviceId')?.errors && menuForm?.get('deviceId')?.touched", style="color:red") Value is required.
                    .row.mb-5
                        .col
                            label(for='mediaId') Media 
                            select.form-control(id='mediaId', formControlName='mediaId', (change)='onMediaSelected()')
                                option(value="") -- Select Media --
                                option(*ngFor="let media of picture_list", value="{{ media.id }}") {{ media.displayName}}
                            small(*ngIf="menuForm?.get('mediaId')?.errors && menuForm?.get('mediaId')?.touched", style="color:red") Value is required.

    ng-template(#content, let-c="close", let-d="dismiss")
        div.modal-header
            h4.modal-title Confirmation
            button.close(type="button", aria-label="Close", (click)="d('Cross click')")
                span(aria-hidden="true") &times;
        div.modal-body
            | Are you sure want to delete this record?
    
        div.modal-footer
            button.btn.btn-primary(type="button", (click)="c(true)") Yes
            button.btn.btn-outline-dark(type="button", (click)="c(false)") No