form
    .form-group.form-inline
        | Search: 
        input.form-control.ml-2(
            type='text',
            name='searchTerm',
            [(ngModel)]='menuService.searchTerm'
        )
        span.ml-3(*ngIf='menuService.loading$ | async') Loading...

    div.container-fluid(*ngFor="let menu_list of menu2D_list")
        .row.pl-2.mb-4(style="background:rgba(0, 0, 0, 0.6); border-radius:2px;")
            h5(style="color:white") {{ menu_list[0].device.name }}
        .row.text-center.text-lg-start
            .col-lg-3.col-md-4.mb-4.col-6(*ngFor="let menu of menu_list")
                div.container.bg-no-overlay(style="background: url('{{ apiUrl }}media/download/{{ menu.media.fileName }}');", (mouseenter)="isDisplayOption[menu.id]=true", (mouseleave)="isDisplayOption[menu.id]=false")
                    div.text-center.py-2(*ngIf="isDisplayOption[menu.id]", style='background:rgba(0, 0, 0, 0.5);border-radius: 25px')
                        fa-icon.mx-2([icon]='["fas", "eye"]', (click)="preview(menu)")
                        fa-icon.mx-2([icon]='["fas", "edit"]', (click)="edit(menu)")
                        fa-icon.mx-2([icon]='["fas", "trash"]', (click)="delete(menu)")
                | {{ menu.media.displayName }}

    .d-flex.justify-content-between.p-2
        ngb-pagination(
            [collectionSize]='total$ | async',
            [(page)]='menuService.page',
            [pageSize]='menuService.pageSize'
        )

        select.custom-select(
            style='width: auto',
            name='pageSize',
            [(ngModel)]='menuService.pageSize'
        )
            option([ngValue]='8') 8 items per page
            option([ngValue]='16') 16 items per page
            option([ngValue]='32') 32 items per page